<div class="col animated fadeIn fast">
    <div class="card h-100">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <button (click)="verHeroe(id)" type="button" class="btn btn-outline-primary btn-ver">
            Ver mas...
        </button>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary"><b>Primera aparicion : </b> {{heroe.aparicion}}</small>
      </div>
    </div>
</div>
